body {
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
}

#backstretch {
    padding: 100px;
    background-color: rgba(0, 0, 0, 0.651);
}

#top_summary {
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 300px;
    text-align: center;
    color: white;
}

.top_summary_line_large {
    font-size: 30px;
    margin: 10px;
}

.top_summary_line {
    font-size: 18px;
    margin: 5px;
}

#nav_bar {
    background-color: rgba(0, 0, 0, 0.753);
    text-align: center;
}

.nav_button {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    font-size: 18px;
}