body {
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
}

#backstretch {
    background-image: url("../images/ann_arbor.jpg");
    background-size: cover;
}

#top_summary {
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: white;
    background-color: rgba(32, 32, 32, 0.678);
}

.top_summary_line_large {
    font-size: 30px;
    margin: 10px;
}

.top_summary_line {
    font-size: 18px;
    margin: 5px;
}

#nav_bar {
    background-color: rgba(32, 32, 32, 0.925);
    text-align: center;
}

.nav_button {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    font-size: 18px;
}

#background {
    
}